.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

button {
    width: 850px;
    font-weight: bold;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: left;
}

button .name {
    color: red;
}

button .style {
    color: green;
}

button .width, button .height, button .depth {
    color: blue;
}

button .inner-mat {
    color: purple;
}

button .outer-mat {
    color: brown;
}
